body , html {
    background-color: rgba(200,200,000,0.3); padding: 0px;  max-width: 100%; overflow-x: hidden; min-height: 100vh; box-sizing: border-box;
}

.div {display: flex;
   align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgba(200,100,11,0.7);
    height: 10vh; width: 100%;
    margin: 0px;
}
.bmenu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menud{
    position: relative;
}
.mb{
    color: black; text-decoration: underline;
}
a{ text-decoration: none;
    color: white;
}
 span{
        display: block; height: 3px; width: 30px; background-color: black; margin: 2px;
    }
.ul{ 
         position: absolute; height:0 ;  transition: all 2s ease; overflow: hidden; width: 100%;
    }

li{
        margin: 20px; list-style: none;
    }

.cc{
    display: flex; align-items: center; height: 90%; width: 16%; box-sizing: border-box; padding-left: 55px;
}
.cc:hover{
    
    background-color: rgba(250, 250, 6, 0.3);
 }
.arp{display: flex;
    justify-content: space-around;
}
.ss{font-weight: bolder;}
footer{background-color: rgba(200,100,11,0.7);
    color:white ;
    text-align: center; font-style: italic; position: fixed; 
    bottom: 0%; margin-top: 4%;
    width: 100%;
    height:7%; box-sizing: border-box; margin-top: 5em;
    
}

@media(max-width:600px){
    .cc{font-size: 0.7rem;}
    #sect{
        font-size: 0.8rem;
         
    }
    .uld{
        background-color: rgba(200,100,11,1);
    }
    .ull{
    height: 80vh; background-color: rgba(200,100,11,1);
}
    .div{
    display: none; 
    }
    header{
        background-color: rgba(200,100,11,0.7);
        color:white ;height: 3em; display: flex; justify-content: center; align-items: center; margin-bottom: 2px; transition:all 2s ease;
    }
    h1{
        font-style: italic;
    }
}
@media(min-width:760px){
   
    .menud{
        display: none;
    }
}
